@if (user) {
<div class="container" >
    <button class="btn btn-primary my-2 my-sm-0" (click)="back()">
      Back
    </button>
  
    <div class="user-detail">
      <img [src]="user.avatar" class="user-detail-avatar" alt="User Avatar" />
      <div class="user-detail-info">
        <div class="user-detail-name">
          {{ user.first_name }} {{ user.last_name }}
        </div>
        <div class="user-detail-id">ID: {{ user.id }}</div>
        <div class="user-detail-email">Email: {{ user.email }}</div>
      </div>
    </div>
  </div>
}
  @if (!user) {
    <div class="spinner-container"> <mat-spinner></mat-spinner>
    </div>}